.journal-card {
  display: flex;
  justify-content: left;
  align-items: center;

  margin-top: 10rem;
  height: 100rem;
  min-width: 50rem;

  border-radius: 3px;

  @include respond(tab-land) {
    margin-top: 5rem;
    height: 60rem;
    min-width: 45rem;
  }

  @include respond(desktop) {
    margin-top: 0;
    height: 40rem;
    min-width: 30rem;
  }

  @include respond(desktop-big) {
    margin-top: 0;
    height: 45rem;
    min-width: 35rem;
  }

  &:hover {
    transform: scale(1.05);
    transition: .5s;
    box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.5);
  }

  &__text-box {
    font-family: $font-default;
    
    width: 100%;
    background-image: linear-gradient(
      to right top,
      rgba($color-brown-soft, 0.8),
      rgba($color-green-soft, 0.8)
    );
    padding: 2rem;


    &--main {
      display: block;
      font-size: 3rem;
    }

    &--sub {
      display: block;
      font-size: 1rem;
    }
  }

  &--1{
    background-image: 
      url("https://i.imgur.com/GpjcILA.png");
    background-position: center;
  }

  &--2{
    background-image:  
      url("https://i.imgur.com/uwcz8AW.png");
    background-position: center;
  }

  &--3{
    background-image:  
      url("https://i.imgur.com/m4CUuck.png");
    background-position: center;
  }

  &--coming-soon{
    background-image:  
      url("https://i.imgur.com/YOM22Sy.png");
    background-position: left;
  }
}