.inventory {
  display: flex;
  // justify-content: center;
  align-items: center;

  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  position: relative;

  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @include respond(tab-port) {
    height: 100vh;
  }

  // Background Image
  background-image: linear-gradient(
    to right bottom,
    rgba(lightgreen, 0.25),
    rgba(purple, 0.25)
  ),
  url("https://i.imgur.com/Q2HoJI8.png");
  background-size:cover;
  background-position: center;
  position: relative;

  &__flex-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item-name {
    font-size: 3rem;
    font-family: $font-alt;
    font-weight: 900;
    text-align: center;
  }

  &__flex-item {
    width: 20rem;
    height: 20rem;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    & a {
      color: white;
      text-decoration: none;
      cursor: default;
    }

    &--spear {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/PCZlFlr.png");
      background-position: top;
      background-size: cover;
    }

    &--shield {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/MxHLFYU.png");
      background-position: top;
      background-size: cover;
    }

    &--mace {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/Id0AArv.png");
      background-position: top;
      background-size: cover;
    }

    &--longbow {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/n11YEX7.png");
      background-position: top;
      background-size: cover;
    }

    &--arrow {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/IvHZ80Y.png");
      background-position: top;
      background-size: cover;
    }

    &--tinker {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/i8sIn84.png");
      background-position: top;
      background-size: cover;
    }

    &--scale {
      background-image: linear-gradient(
        to right bottom,
        rgba(lightgreen, 0.5),
        rgba(grey, 0.6)
      ),
      url("https://i.imgur.com/XVt4riJ.png");
      background-position: top;
      background-size: cover;
    }
  }


}