.journal {
  display: flex;
  // justify-content: center;
  align-items: center;

  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;

  @include respond(tab-port) {
    height: 100vh;
  }

  // Background Image
  background-image: linear-gradient(
    to right bottom,
    rgba(lightgreen, 0.25),
    rgba(purple, 0.25)
  ),
  url("https://i.imgur.com/M6Gv3fe.png");
  background-size:cover;
  background-position: center;
  position: relative;


  // Remove Highlight Select
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

  &__main {
    width: 100%;
    margin: 0;
    padding: 3rem;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}