@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scaleOut {
  0% {
    width: 0%;
    height: 100%; }
  100% {
    width: 100%;
    height: 100%; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 30%; }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  color: #fff;
  background-color: #1e1e1e;
  box-sizing: border-box;
  background-image: url("https://i.imgur.com/YOM22Sy.png");
  background-size: cover;
  background-position: top;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    display: none; }

.body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: #a4c856;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-family: "MedievalSharp", cursive; }
  .heading-primary--main {
    display: block;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: 1.05rem;
    animation: fadeIn 3s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .25s; }
    @media (min-width: 56.25em) {
      .heading-primary--main {
        font-size: 9rem; } }
  .heading-primary--sub {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: fadeIn 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .75s; }
    @media (min-width: 37.5em) {
      .heading-primary--sub {
        font-size: 5rem;
        letter-spacing: 2rem;
        padding-left: 1rem; } }
    @media (min-width: 56.25em) {
      .heading-primary--sub {
        font-size: 5rem;
        letter-spacing: 1.25rem; } }

.heading-secondary {
  margin-top: 5rem;
  text-align: center;
  font-size: 7rem;
  font-family: "MedievalSharp", cursive;
  transition: all .5s; }
  @media (min-width: 37.5em) {
    .heading-secondary {
      font-size: 15rem; }
      .heading-secondary:hover {
        transform: scale(1.05); }
      .heading-secondary:hover a {
        color: #7c9e33; } }
  @media (min-width: 56.25em) {
    .heading-secondary {
      margin-top: 5rem;
      font-size: 9rem; } }
  .heading-secondary a {
    color: #a4c856;
    text-decoration: none;
    transition: all .5s; }
  .heading-secondary--inventory a {
    color: #cd00cd; }
  .heading-secondary--inventory:hover a {
    color: #9a009a; }
  .heading-secondary--artwork a {
    color: #60461f; }
  .heading-secondary--artwork:hover a {
    color: #9a7032; }

.heading-tertiary {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Lato", sans-serif; }
  .heading-tertiary__link {
    color: white;
    text-decoration: none; }
    .heading-tertiary__link:hover {
      color: #d9d9d9; }
  .heading-tertiary--main {
    display: block;
    text-align: center;
    font-size: 5rem; }
  .heading-tertiary--sub {
    display: block;
    font-size: 3rem;
    text-align: center; }

.u-hidden {
  display: none; }

.journal-card {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: .5s;
  cursor: pointer;
  height: 60rem;
  min-width: 40rem;
  border-radius: 3px; }
  @media (min-width: 56.25em) {
    .journal-card {
      margin-top: 5rem;
      height: 60rem;
      min-width: 45rem; }
      .journal-card:hover {
        transform: scale(1.05);
        transition: .5s;
        box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.5);
        z-index: 5; } }
  @media (min-width: 75em) {
    .journal-card {
      margin-top: 0;
      height: 40rem;
      min-width: 30rem; } }
  @media (min-width: 112.5em) {
    .journal-card {
      margin-top: 0;
      height: 45rem;
      min-width: 35rem; } }
  .journal-card__text-box {
    font-family: "Lato", sans-serif;
    width: 100%;
    background-image: linear-gradient(to right top, rgba(96, 70, 31, 0.8), rgba(164, 200, 86, 0.8));
    padding: 2rem; }
    .journal-card__text-box--main {
      display: block;
      font-size: 3rem; }
    .journal-card__text-box--sub {
      display: block;
      font-size: 1rem; }
  .journal-card--1 {
    background-image: url("https://i.imgur.com/GpjcILA.png");
    background-position: center; }
  .journal-card--2 {
    background-image: url("https://i.imgur.com/uwcz8AW.png");
    background-position: center; }
  .journal-card--3 {
    background-image: url("https://i.imgur.com/m4CUuck.png");
    background-position: center; }
  .journal-card--coming-soon {
    background-image: url("https://i.imgur.com/YOM22Sy.png");
    background-position: left; }

.entry {
  display: flex;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  position: relative;
  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.25), rgba(128, 0, 128, 0.25)), url("https://i.imgur.com/M6Gv3fe.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  .entry::-webkit-scrollbar {
    display: none; }
  @media (min-width: 37.5em) {
    .entry {
      height: 100vh; } }
  .entry__main {
    padding: 2rem;
    background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 0, 128, 0.5));
    border-radius: 3px;
    font-family: "Lato", sans-serif;
    width: 100%; }
    @media (min-width: 37.5em) {
      .entry__main {
        margin: 2rem; } }
  .entry__passage {
    font-size: 20px; }
    @media (min-width: 37.5em) {
      .entry__passage {
        margin: 3rem; } }
  .entry__signature {
    font-size: 30px;
    text-align: center;
    font-family: "Grape Nuts", cursive; }

#home__nav-box {
  position: relative; }

.navigation {
  height: 100svh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  transform-origin: center;
  animation: scaleOut .5s;
  z-index: 1;
  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .navigation::-webkit-scrollbar {
    display: none; }
  @media (min-width: 37.5em) {
    .navigation {
      height: 100vh; } }
  .navigation__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .navigation__link {
    font-size: 9rem;
    display: block;
    font-family: "Rowdies", cursive;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px white;
    color: #60461f;
    -webkit-text-stroke: 1px black;
    position: relative; }
    @media (min-width: 56.25em) {
      .navigation__link {
        font-size: 6rem; } }
    @media (min-width: 112.5em) {
      .navigation__link {
        font-size: 8rem; } }
    .navigation__link:not(:last-child) {
      margin-bottom: 3rem; }
    @media (min-width: 37.5em) {
      .navigation__link:before, .navigation__link:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s; }
      .navigation__link:hover:before {
        color: #77efff;
        color: #60461f;
        z-index: 1;
        -webkit-text-stroke: 1px black;
        transform: translate(10px, -10px); }
      .navigation__link:hover:after {
        color: #a4c856;
        z-index: 2;
        -webkit-text-stroke: 1px black;
        transform: translate(20px, -20px); }
      .navigation__link:hover {
        color: #814f7a;
        -webkit-text-stroke: 1px black;
        transition: .5s; } }

.artwork {
  display: flex;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  position: relative;
  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.25), rgba(128, 0, 128, 0.25)), url("https://i.imgur.com/d79NGzy.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  .artwork::-webkit-scrollbar {
    display: none; }
  @media (min-width: 37.5em) {
    .artwork {
      height: 100vh; } }
  .artwork__flex-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; }
  .artwork__flex-item {
    width: 35rem;
    height: 50rem;
    border-radius: 3px; }
    .artwork__flex-item--dwayne-01 {
      width: 35rem;
      height: 50rem;
      background-image: url("https://i.imgur.com/YOM22Sy.png");
      background-position: top;
      background-size: cover; }
    .artwork__flex-item--dwayne-02 {
      width: 50rem;
      height: 50rem;
      background-image: url("https://i.imgur.com/0DHwSKk.png");
      background-position: top;
      background-size: cover; }
    .artwork__flex-item--dwayne-03 {
      width: 50rem;
      height: 50rem;
      background-image: url("https://i.imgur.com/go7u9Zn.png");
      background-position: top;
      background-size: cover; }
    .artwork__flex-item--dwayne-04 {
      width: 35rem;
      height: 50rem;
      background-image: url("https://i.imgur.com/oWxUdfr.png");
      background-position: top;
      background-size: cover; }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 0, 128, 0.6)), url("https://i.imgur.com/Z0qgdiv.png");
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  @media (min-width: 37.5em) {
    .home {
      height: 100vh; } }
  .home__img-box {
    animation: fadeIn 2s ease-out; }
  .home__img {
    width: 300px;
    height: 320px;
    cursor: pointer;
    transition: all .5s; }
    @media (min-width: 56.25em) {
      .home__img {
        width: 400px;
        height: 428.5px; }
        .home__img:hover {
          transform: scale(1.1); } }

.inventory {
  display: flex;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  position: relative;
  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.25), rgba(128, 0, 128, 0.25)), url("https://i.imgur.com/Q2HoJI8.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  .inventory::-webkit-scrollbar {
    display: none; }
  @media (min-width: 37.5em) {
    .inventory {
      height: 100vh; } }
  .inventory__flex-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; }
  .inventory__item-name {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-align: center; }
  .inventory__flex-item {
    width: 20rem;
    height: 20rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .inventory__flex-item--spear {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/PCZlFlr.png");
      background-position: top;
      background-size: cover; }
    .inventory__flex-item--shield {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/MxHLFYU.png");
      background-position: top;
      background-size: cover; }
    .inventory__flex-item--mace {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/Id0AArv.png");
      background-position: top;
      background-size: cover; }
    .inventory__flex-item--longbow {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/n11YEX7.png");
      background-position: top;
      background-size: cover; }
    .inventory__flex-item--arrow {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/IvHZ80Y.png");
      background-position: top;
      background-size: cover; }
    .inventory__flex-item--tinker {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/i8sIn84.png");
      background-position: top;
      background-size: cover; }
    .inventory__flex-item--scale {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 128, 128, 0.6)), url("https://i.imgur.com/XVt4riJ.png");
      background-position: top;
      background-size: cover; }

.journal {
  display: flex;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.25), rgba(128, 0, 128, 0.25)), url("https://i.imgur.com/M6Gv3fe.png");
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  @media (min-width: 37.5em) {
    .journal {
      height: 100vh; } }
  .journal__link {
    text-decoration: none;
    color: white; }
  .journal__main {
    width: 100%;
    margin: 0;
    padding: 3rem;
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .journal__main::-webkit-scrollbar {
      display: none; }
  .journal__nav-icon {
    display: none; }
    @media (min-width: 37.5em) {
      .journal__nav-icon {
        display: inline;
        z-index: 10;
        font-size: 32px;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
        .journal__nav-icon--left {
          position: fixed;
          top: 50%;
          left: 2%; }
        .journal__nav-icon--right {
          position: fixed;
          top: 50%;
          right: 2%; } }
  .journal__icon {
    color: lightgrey;
    transition: .25s; }
    .journal__icon:hover {
      transform: scale(1.1);
      color: white; }
