@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scaleOut {
  0% {
    width: 0%;
    height: 100%; }
  100% {
    width: 100%;
    height: 100%; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 30%; }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  background-color: #1e1e1e;
  color: #fff;
  box-sizing: border-box; }

.body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: #a4c856;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-family: "MedievalSharp", cursive; }
  .heading-primary--main {
    display: block;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: 1.05rem;
    animation: fadeIn 3s ease-out; }
    @media (min-width: 56.25em) {
      .heading-primary--main {
        font-size: 10rem; } }
  .heading-primary--sub {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation: fadeIn 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .75s; }
    @media (min-width: 56.25em) {
      .heading-primary--sub {
        font-size: 6rem;
        letter-spacing: 2.1rem; } }

.u-hidden {
  display: none; }

#home__nav-box {
  position: relative; }

.navigation {
  height: 100svh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  transform-origin: center;
  animation: scaleOut .5s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
  transition: all .5s; }
  @media (min-width: 37.5em) {
    .navigation {
      height: 100vh; } }
  .navigation__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem; }
    @media (min-width: 56.25em) {
      .navigation__container {
        margin-top: 10rem; } }
    @media (min-width: 75em) {
      .navigation__container {
        margin-top: 5rem; } }
  .navigation__link {
    font-size: 9rem;
    display: block;
    font-family: "Rowdies", cursive;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px white;
    color: #60461f;
    -webkit-text-stroke: 1px black;
    position: relative;
    animation: fadeIn .5s;
    animation-fill-mode: backwards;
    animation-delay: 5s; }
    @media (min-width: 56.25em) {
      .navigation__link {
        font-size: 8rem; } }
    .navigation__link:not(:last-child) {
      margin-bottom: 3rem; }
    @media (min-width: 37.5em) {
      .navigation__link:before, .navigation__link:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s; }
      .navigation__link:hover:before {
        color: #77efff;
        color: #60461f;
        z-index: 1;
        -webkit-text-stroke: 1px black;
        transform: translate(10px, -10px); }
      .navigation__link:hover:after {
        color: #a4c856;
        z-index: 2;
        -webkit-text-stroke: 1px black;
        transform: translate(20px, -20px); }
      .navigation__link:hover {
        color: #814f7a;
        -webkit-text-stroke: 1px black;
        transition: .5s; } }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.5), rgba(128, 0, 128, 0.6)), url("https://i.imgur.com/Z0qgdiv.png");
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  @media (min-width: 37.5em) {
    .home {
      height: 100vh; } }
  .home__img-box {
    animation: fadeIn 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1.5s; }
  .home__img {
    width: 300px;
    height: 320px;
    cursor: pointer; }
    @media (min-width: 56.25em) {
      .home__img {
        width: 420px;
        height: 450px; } }
