*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 30%;

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(desktop) {
    font-size: 62.5%;
  }

  @include respond(desktop) {
    font-size: 75%;
  }
}

body {
  // starting temp code
  color: #fff;
  background-color: #1e1e1e;



  box-sizing: border-box;

  background-image: 
    url("https://i.imgur.com/YOM22Sy.png");
  background-size:cover;
  background-position: top;



}