.body {
  font-family: $font-default;
  font-weight: 400;
}

.heading-primary {
  color: $color-green-soft;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-family: $font-medieval;

  &--main {
    display: block;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: 1.05rem;
    animation: fadeIn 3s ease-out;

    @include respond(tab-land) {
      font-size: 10rem;
    }
  }

  &--sub {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2rem;

    animation: fadeIn 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .75s;

    @include respond(port) {
      font-size: 5rem;
      letter-spacing: 3rem;
    }

    @include respond(tab-land) {
      font-size: 6rem;
      letter-spacing: 2.1rem;
    }
  }

}