.body {
  font-family: $font-default;
  font-weight: 400;
}

// Home Page
.heading-primary {
  color: $color-green-soft;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-family: $font-medieval;

  &--main {
    display: block;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: 1.05rem;
    animation: fadeIn 3s ease-out;
    animation-fill-mode: backwards;
    animation-delay: .75s;

    @include respond(tab-land) {
      font-size: 9rem;
    }
  }

  &--sub {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1.5rem;

    animation: fadeIn 2s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1.25s;

    @include respond(tab-port) {
      font-size: 5rem;
      letter-spacing: 2rem;
      padding-left: 1rem;
    }

    @include respond(tab-land) {
      font-size: 5rem;
      letter-spacing: 1.25rem;
    }
  }

}

// Page Headers
.heading-secondary {
  margin-top: 5rem;
  text-align: center;
  font-size: 7rem;
  font-family: $font-medieval;
  transition: all .5s;

  @include respond(tab-port) {
    font-size: 15rem;

    &:hover {
      transform: scale(1.05);
    }

    &:hover a {
      color: darken($color-green-soft, 15);
    }
  }

  @include respond(tab-land) {
    margin-top: 5rem;
    font-size: 9rem;
  }

  & a {
    color: $color-green-soft;
    text-decoration: none;
    transition: all .5s;
  }



}