// FONTS 
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

$font-size-default: 1.6rem;

$font-medieval: 'MedievalSharp', cursive;
$font-dwayne: 'Grape Nuts', cursive;
$font-default: 'Lato', sans-serif;
$font-nav: 'Rowdies', cursive;


// COLORS
$color-primary: blue;
$color-primary--light: lightblue;
$color-primary--dark: darkblue;

// $color-seconday-light: 
// $color-secondary-dark: 

// $color-tertiary-light: 
// $color-tertiary-dark: 

$color-green-soft: #a4c856;
$color-purple-soft: #814f7a;
$color-brown-soft: #60461f;

$color-grey--light-1: #f7f7f7;
$color-grey--light-2: #eee;

$color-grey--dark: #777;
$color-grey--dark-2: #999;
$color-grey--dark-3: #333;

$color-white: #fff;
$color-black: #000;
